* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-main);
    background-color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    font-family: sans-serif;
    width: 89px;
    height: 56px;
    letter-spacing: 0%;
    
}

.logo-p {
    color: rgb(20, 144, 144);
    font-weight: 700;
    font-style: bold;
    size: 45px;
    line-height: 100%;
    letter-spacing: 0%;
}

.logo-o {
    color: rgb(222, 172, 44);
    font-weight: 700;
    font-style: bold;
    size: 45px;
    line-height: 100%;
    letter-spacing: 0%;
}

.logo-s {
    color: rgb(68, 67, 67);
    font-weight: 700;
    font-style: bold;
    size: 45px;
    line-height: 100%;
    letter-spacing: 0%;
}

.input-search {
    width: 260px;
    height: 40px;
    left: -8px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(233, 240, 246);
}

.date-box {
    font-size: 14px;
    color: #777;
    font-weight: 500;
}

.add-btn {
    width: 130px;
    height: 40px;
    left: 244px;
    font-weight: bold;
    color: #2c3e50;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(162, 209, 207);
}

.main-content {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
}

.card-container {
    background: var(--card-bg);
    background-color: #ffffff;
    border: 1px;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.card-container:hover {
    transform: translateY(-15px) scale(1.02);
    border-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    border-radius: 5px;
}

.card-image-wrapper {
    height: 140px;
    position: relative;
    overflow: hidden;
    height: 250px;
}

.product {
    border-radius: 5px;
    display: inline-block;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.badge {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 10px;
}

.badge-orange {
    background-color: rgb(218, 141, 58);
    border-radius: 50%;
}

.badge-brown {
    background-color: rgb(112, 64, 11);
    border-radius: 50%;
}

.badge-white {
    background-color: aliceblue;
    border-radius: 50%;
}

.spicy-icon {
    margin-left: 4px;
    letter-spacing: 2px;
}

.nav {
    background-color: #eef4f5;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-item.active {
  background-color: var(--accent-green);
  color: white;
}

.nav-item {
  background-color: #d8d8d8;
  border: none;
  padding: 15px 40px;
  border-radius: 8px;
  font-weight: bold;
  color: #999;
  cursor: pointer;
  min-width: 160px;
  text-transform: uppercase;
  font-size: 13px;
}


